$txt-color: #343A40;
$title-color: #212529;
$bgc-body: #F8F9FA;
$bgc-header-footer: #ADB5BD;
$bgc-peliuno-context: #DEE2E6;
$bgc-pelidos-curio: #E9ECEF;

$fuente-peso-titulo: 500;
$fuente-peso-nav: bolder;
$fuente-grl: 'Noto Sans', sans-serif;
